@import './base.css';

#app {
  display: flex;
  margin: 0 auto;
  font-weight: normal;
  width: 100%;
  padding: 0 0rem;
}

a {
  text-decoration: none;
  color: var(--vt-c-black);
  transition: 0.4s;
}

body {
  display: flex;
  place-items: space;
}

  

